# Removendo a limitação do número de linhas

In [1]:
import sys
import csv
maxInt = sys.maxsize

while True:
    # decrease the maxInt value by factor 10 
    # as long as the OverflowError occurs.

    try:
        csv.field_size_limit(maxInt)
        break
    except OverflowError:
        maxInt = int(maxInt/10)

# Realizando a importação da base de dados

In [2]:
import pandas as pd

df_1 = pd.read_csv('Portaria_anac_parte1.txt', sep = '汉')
df_2 = pd.read_csv('Portaria_anac_parte2.txt', sep = '汉')
df_3 = pd.read_csv('Portaria_anac_parte3.txt', sep = '汉')
df_4 = pd.read_csv('Portaria_anac_parte4.txt', sep = '汉')
df_5 = pd.read_csv('Portaria_anac_parte5.txt', sep = '汉')
df_6 = pd.read_csv('Portaria_anac_parte6.txt', sep = '汉')
df_7 = pd.read_csv('Portaria_anac_parte7.txt', sep = '汉')
df_8 = pd.read_csv('Portaria_anac_parte8.txt', sep = '汉')

<ipython-input-2-1ea80cfdfdcf>:3: ParserWarning: Falling back to the 'python' engine because the separator encoded in utf-8 is > 1 char long, and the 'c' engine does not support such separators; you can avoid this warning by specifying engine='python'.
  df_1 = pd.read_csv('Portaria_anac_parte1.txt', sep = '汉')
<ipython-input-2-1ea80cfdfdcf>:4: ParserWarning: Falling back to the 'python' engine because the separator encoded in utf-8 is > 1 char long, and the 'c' engine does not support such separators; you can avoid this warning by specifying engine='python'.
  df_2 = pd.read_csv('Portaria_anac_parte2.txt', sep = '汉')
<ipython-input-2-1ea80cfdfdcf>:5: ParserWarning: Falling back to the 'python' engine because the separator encoded in utf-8 is > 1 char long, and the 'c' engine does not support such separators; you can avoid this warning by specifying engine='python'.
  df_3 = pd.read_csv('Portaria_anac_parte3.txt', sep = '汉')
<ipython-input-2-1ea80cfdfdcf>:6: ParserWarning: Falling back to the 'python' engine because the separator encoded in utf-8 is > 1 char long, and the 'c' engine does not support such separators; you can avoid this warning by specifying engine='python'.
  df_4 = pd.read_csv('Portaria_anac_parte4.txt', sep = '汉')
<ipython-input-2-1ea80cfdfdcf>:7: ParserWarning: Falling back to the 'python' engine because the separator encoded in utf-8 is > 1 char long, and the 'c' engine does not support such separators; you can avoid this warning by specifying engine='python'.
  df_5 = pd.read_csv('Portaria_anac_parte5.txt', sep = '汉')
<ipython-input-2-1ea80cfdfdcf>:8: ParserWarning: Falling back to the 'python' engine because the separator encoded in utf-8 is > 1 char long, and the 'c' engine does not support such separators; you can avoid this warning by specifying engine='python'.
  df_6 = pd.read_csv('Portaria_anac_parte6.txt', sep = '汉')
<ipython-input-2-1ea80cfdfdcf>:9: ParserWarning: Falling back to the 'python' engine because the separator encoded in utf-8 is > 1 char long, and the 'c' engine does not support such separators; you can avoid this warning by specifying engine='python'.
  df_7 = pd.read_csv('Portaria_anac_parte7.txt', sep = '汉')
<ipython-input-2-1ea80cfdfdcf>:10: ParserWarning: Falling back to the 'python' engine because the separator encoded in utf-8 is > 1 char long, and the 'c' engine does not support such separators; you can avoid this warning by specifying engine='python'.
  df_8 = pd.read_csv('Portaria_anac_parte8.txt', sep = '汉')

# Juntando os Dataframes

In [3]:
dados_1 = pd.concat([df_1,df_2])
dados_2 = pd.concat([dados_1,df_3])
dados_3 = pd.concat([dados_2,df_4])
dados_4 = pd.concat([dados_3,df_5])
dados_5 = pd.concat([dados_4,df_6])
dados_6 = pd.concat([dados_5,df_7])
dados_7 = pd.concat([dados_6,df_8])

In [4]:
dados_7[dados_7['Texto_lei'].map(len) < 5]

,ID,Texto_lei,Data_lei,Data_publicação,Revogada,Tipo_lei,Setor
2,8023092006,[],09 out 2006,NaN,False,802,Anac
53,802x2014,[],21 de outubro de 2014,NaN,False,802,Anac
95,80232982018,[],23 de outubro de 2018,NaN,False,802,Anac
18,80237582018,[],NaN,NaN,False,802,Anac
19,80239362018,[],NaN,NaN,False,802,Anac
...,...,...,...,...,...,...,...
532,802inte1994,[],28 abr 1994,NaN,False,802,Anac
533,802inte1994,[],28 abr 1994,NaN,False,802,Anac
534,802inte1994,[],28 abr 1994,NaN,False,802,Anac
542,80231972,[],NaN,NaN,False,802,Anac
543,8021381973,[],27 dez 1973,NaN,False,802,Anac

# Removendo os links corrompidos

In [5]:
df = dados_7[dados_7['Texto_lei'].map(len) >= 5]

# Exportando os resultados

In [6]:
df.to_csv("Portaria_anac.txt", index=False, encoding='utf-8-sig', sep = '汉')